@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <main>

        <h2>Aplikacja demonstracyjna Sim Web</h2>

        <p>Wizualizacja symulacji z wykorzystaniem programowania obiektowego w C# i Razor Pages.</p>
        <br />
        <p>Mapa typu Small Torus Map.</p>
        <br />
        <p>Sekwencja ruchów: <b>dlruudlrrldurdlrrrrl</b>.</p>
    </main>
</body>